# First Level Data

In [7]:
import numpy as np
import pandas as pd

In [8]:
df_raw = pd.read_csv("data_raw/all_commodities.csv")

In [9]:
print(df_raw.shape)

(127255, 12)

In [10]:
df_raw.head(0)

Empty DataFrame
Columns: [Item Year, Original Value, Standard Value, Original Currency, Standard Currency, Orignal Measure, Standard Measure, Sources, Notes, Location, Commodity, Variety]
Index: []

In [11]:
df_raw["Commodity"].describe()

count     127255
unique       165
top        Wheat
freq       23129
Name: Commodity, dtype: object

In [12]:
df_raw["Standard Value"].describe()

count    127255.000000
mean         54.156522
std         954.797964
min           0.000116
25%           0.357736
50%           1.149183
75%           7.425000
max      107372.805540
Name: Standard Value, dtype: float64

In [15]:
df_raw["Commodity"].value_counts()

Wheat         23129
Rye            9239
Barley         8601
Wine           4678
Oats           4563
              ...
Oranges           7
Speck             5
Buchwheat         5
Underpants        4
Fish              4
Name: Commodity, Length: 165, dtype: int64

In [13]:
df_raw.iloc[df_raw["Standard Value"].idxmax()]

Item Year                                                         1567
Original Value                                                 1594.18
Standard Value                                                  107373
Original Currency                                          White Grosz
Standard Currency                                               Silver
Orignal Measure                                         Wroclaw Length
Standard Measure                                        Wroclaw Length
Sources              (M. Wolanski) (Ceny we Wroclawiu w Latach 1506...
Notes                (gpih.ucdavis.edu)-(D.S.Jacks_2002-P.H.Lindert...
Location                                                       Wroclaw
Commodity                                                        Cloth
Variety                                                            NaN
Name: 125024, dtype: object

In [14]:
df_raw.iloc[df_raw["Standard Value"].idxmin()]

Item Year                                                         1894
Original Value                                                     1.2
Standard Value                                             0.000115928
Original Currency                                 United States Dollar
Standard Currency                                               Silver
Orignal Measure                                             Kyoto Kuku
Standard Measure                                              Kilogram
Sources              (Government of Japan) (Financial and Economic ...
Notes                (gpih.ucdavis.edu)-(D.S.Jacks_2006-P.A.Lindert...
Location                                                         Tokyo
Commodity                                                         Salt
Variety                                                            NaN
Name: 108441, dtype: object

In [5]:
df_raw["Commodity"].unique()

array(['Wheat', 'Rice', 'Rye', 'Beef', 'Eggs', 'Oil', 'Soap', 'Sugar',
       'Wine', 'Barley', 'Oats', 'Charcoal', 'Cheese', 'Cinnamon',
       'Cloth', 'Cloves', 'Ginger', 'Herring', 'Lime', 'Pepper',
       'Saffron', 'Nails', 'Paper', 'Iron', 'Beer', 'Candles', 'Canvas',
       'Carp', 'Flax', 'Peas', 'Pork', 'Salt', 'Veal', 'Flour', 'Millet',
       'Wax', 'Butter', 'Firewood', 'Hops', 'Beans', 'Chickpeas', 'Lard',
       'Meat', 'Wood', 'Yerba', 'Coffee', 'Tea', 'Cocao', 'Garbanzo',
       'Honey', 'Maize', 'Milk', 'Bacon', 'Brandy', 'Lamb', 'Peat',
       'Stockfish', 'Tallow', 'Candle', 'Miso', 'Sake', 'Soya Sauce',
       'Tobacco', 'Vinegar', 'Books', 'Bread', 'Bricks', 'Cider',
       'Clothing', 'Coal', 'Coalgas', 'Cod', 'Cotton', 'Cream',
       'Currants', 'Glassware', 'Hay', 'Mustard', 'Mutton', 'Oatmeal',
       'Parchment', 'Pewter', 'Raisins', 'Rent', 'Salmon', 'Shoes',
       'Shovel', 'Silk', 'Straw', 'Suet', 'Treacle', 'Trenchers', 'Wool',
       'Chicken', 'Fish', 'Goat', 'Grain', 'Mortar', 'Ox', 'Sausage',
       'Copper', 'Lead', 'Ham', 'Linen', 'Nutmeg', 'Chicory', 'Gin',
       'Kerosene', 'Turnips', 'Gold', 'Spirits', 'Bark', 'Axe',
       'Horse shoes', 'Saw', 'Scythe', 'Tar', 'Grains', 'Rum', 'Whiskey',
       'Chocolate', 'Codfish', 'Potato', 'Socks', 'Stockings', 'Brick',
       'Tiles', 'Bean', 'Sorghum', 'Spelt', 'Boards', 'Cordage',
       'Pie Fruits', 'Pork Mess', 'Quicksilver', 'Sheeting', 'Shot',
       'Turpentine', 'Boots', 'Buchwheat', 'Caraway', 'Meal', 'Oranges',
       'Speck', 'Underpants', 'Slave', 'Oilcake', 'Soy', 'Soybean',
       'Apples', 'Ashes', 'Glass', 'Insurance', 'Maple Syrup', 'Molasses',
       'Print', 'Tax', 'Transportation', 'Turkey', 'Pike', 'Allspice',
       'Poultry', 'Cabbage', 'Malmsey', 'Plum'], dtype=object)

In [7]:
df_raw["Location"].unique()

array(['Aix', 'Akyab', 'Allahabad', 'Amsterdam', 'Ancona', 'Andalusia',
       'Angers', 'Antwerp', 'Aragon', 'Arequipa', 'Arezzo', 'Arles',
       'Arnhem', 'Ath', 'Augsburg', 'Avignon', 'Backerganj', 'Balasore',
       'Bamo', 'Bankura', 'Barcelona', 'Bardwan', 'Bari', 'Basle',
       'Bassano', 'Bassein', 'Bavay', 'Beijing', 'Benares', 'Beziers',
       'Bilbao', 'Birbhum', 'Bogra', 'Bordeaux', 'Braganca', 'Bravant',
       'Brescia', 'Bruges', 'Brussels', 'Buenos Aires',
       'Buis Les Baronnies', 'Bulgaria', 'Burgos', 'Cachar', 'Calcutta',
       'Cantania', 'Cervera', 'Chateau Gonier', 'Chesapeake', 'Chester',
       'Chittagong', 'Clarmont-Ferrand', 'Cologne', 'Colombia',
       'Copenhagen', 'Coutances', 'Dacca', 'Danzig', 'Die', 'Douai',
       'Draguignan', 'Dresden', 'Edinburgh', 'Edo', 'England', 'Eton',
       'Exeter', 'Faridpur', 'Florence', 'France', 'Frankfurt', 'Gdansk',
       'Gerona', 'Ghent', 'Goalpara', 'Granada', 'Grenoble', 'Henzada',
       'Herentals', 'Hobart', 'Holstein', 'Hooghly', 'Istanbul',
       'Jessore', 'Kamrup', 'Konigsberg', 'Krakow', 'Kyaukpyu', 'Kyoto',
       'La Coruna', 'Lakhimpur', 'Le Quesnoy', 'Leiden', 'Leipzig',
       'Leon', 'Libau', 'Lier', 'Linkoping', 'Lisbon', 'Lleida',
       'Lolland', 'Lombardia', 'London', 'Lorca', 'Louvain', 'Lublin',
       'Lwow', 'Madrid', 'Maimensing', 'Malda', 'Malines', 'Manbhum',
       'Mandalay', 'Marseilles', 'Maryland', 'Massachusetts', 'Mauberge',
       'Medina', 'Metz', 'Mexico City', 'Midnapur', 'Milan', 'Milano',
       'Modena', 'Mons', 'Montelimar', 'Munich', 'Nancy', 'Nantes',
       'Naples', 'Navarre', 'New Castile', 'Old Castile', 'Osaka',
       'Oviedo', 'Pamplona', 'Paris', 'Pesaro', 'Pisa', 'Poland', 'Porto',
       'Rennes', 'Rostock', 'Rotterdam', 'San Francisco', 'Sansepolcro',
       'Santander', 'Santiago', 'Seeland', 'Segovia', 'Senigallia',
       'Shanghai', 'Siena', 'Sopron', 'South Carolina',
       'Southern England', 'Speyer', 'St Petersburg', 'St Polten',
       'Stiftklosterneuberg', 'Stockholm', 'Strasbourg', 'Sydney',
       'Thayetmyo', 'Tokyo', 'Tolosa', 'Toulouse', 'Toungoo', 'Tours',
       'Tudela', 'Tuscany', 'Udine', 'Utrecht', 'Valence', 'Valencia',
       'Valenciennes', 'Valladolid', 'Vermont', 'Vienna', 'Vienne',
       'Vitoria', 'Voiron', 'Wallachia', 'Warsaw', 'Wels',
       'West Virginia', 'Weyer', 'Winchester', 'Windsor', 'Wollongong',
       'Wroclaw', 'Wurzburg', 'Zaragoza'], dtype=object)

In [8]:
df_raw["Original Currency"].unique()

array(['Tours Livre', 'British Rupee', 'Silver', 'English Pence',
       'New Castile vellon maravedis', 'Brabant groat', 'Aragon Penny',
       'South American Real', 'Latin American Pesos', 'Dutch Guilder',
       'Augsburg Dinar', 'Augsburg Pfennig', 'Paris Livra',
       'Sueldo de Cataluna', 'Alsace Franc', 'Italian Soldo',
       'Tours shilling', 'United States Dollar', 'English Shilling',
       'Portugal Reis', 'Italian Lire', 'Flemish Grote', 'Indias Real',
       'French Franc', 'Spanish Real', 'British Pound', 'Virginia Pound',
       'Cologne Albus', 'Danish Skilling', 'Osaka Monme',
       'English Reference Year 1371', 'Florentine Silver Grain',
       'Florentine Soldi', 'Florentine Denari',
       'Florence Shillings Picioli', 'Florentine Lira',
       'Frankfurt pfennig', 'Belgian Franc', 'Istanbul Akche',
       'Krakow pence', 'Gold', 'Krakow Zloty', 'Flemish Groot',
       'Leipzig pfennig', 'Swedish Riksdaler', 'Lira Milanesi',
       'Mexican Real', 'Milanesi Soldi', 'Modenese Soldi', 'Munich denar',
       'Nantes Centime', 'Naples Carlini', 'Navarrese penny',
       'Old Castile vellon maravedis', 'Pisa Lira', 'US Penny',
       'New Castile Real', 'Shanghai Tael', 'Speyer pfennig',
       'South German Kreuzer', 'Swedish Kronor', 'Utrecht stuiver',
       'Valencian Penny', 'Valencian Denar', 'Valencia pence',
       'Sueldo de Valencia', 'Valladolid Maravedi', 'Vienna kreuzer',
       'Vienna Pfennig', 'Wallachian Leu', 'White Grosz',
       'Wurzburg denar'], dtype=object)

In [12]:
print(len(df_raw["Variety"]))
df_raw["Variety"].unique()

127255

array([nan, 'British Empirial', 'Koenigsberg', 'Polish', 'Olive',
       'Brewer', 'Oak', 'Woolen', 'Ground', 'Loaf', 'Large', 'Brown',
       'White', 'Piece', 'Linseed', 'Writing', 'Writing-Median', 'New',
       'Bean', 'Corn', 'Wheat', 'Retail', 'Wholesale', 'Late', 'Tallow',
       'Flemish Red', 'Salted', 'San Pedro Telmo', 'Civil', 'Fine',
       'Salt', 'French', 'Icelandi salted', 'Train', 'Danish', 'Spanish',
       'Icelandic', 'Lamp', 'Zencha', 'Mugi', 'Strong', 'Cotton', 'Linen',
       'Wool', 'Stockings', 'Suit', 'Workgloves', 'North', 'Pithead',
       'Southern', 'Bottle', 'Manufactured', 'Manufactured Items', 'Pig',
       'Foolscap', 'Housing', 'Spade', 'Thread', 'Candle', 'Equipment',
       'Port', 'Coat-White', 'Gown-White', 'Sacking', 'Backbone',
       'Wrought', 'Einbecker', 'Frankfurter', 'Hollander', 'speis',
       'English Black', 'English Red', 'Dornwellen', 'Holzwellen',
       'Rhine', 'Rye', 'London Import', 'Velvet', 'Double', 'Hard',
       'Soft', 'Western Europe', 'St. Georgen', 'Rapeseed',
       'French-Iberian', 'Zeeland', 'Birchbark', 'Baltic', 'Bar',
       'Horse shoe', 'Batten', 'Sail', 'Bulk', 'Tow', 'Jamaica',
       'Merchantable', 'Refuse', 'Letter', 'Woolen-High', 'Woolen-Low',
       'High', 'Low', 'Mid', 'Alto', 'Basso', 'Red Common',
       'Bleached Cotton', 'Glutinous', 'Wax', 'Fave', 'Vetches',
       'Chestnut', 'Black', 'Dozzinale', 'Green', 'Green Fired', 'Bars',
       'Dust', 'Mercury', 'Lower Yangzi', 'Peng', 'Kauf', 'Verkauf',
       'Ausschank', 'Lot', 'Garnet', 'Holland', 'Italian', 'Kersey',
       'London fine', 'Nurenburg', 'Paduan', 'Says', 'Scarlet',
       'Venitian', 'Adler', 'COuncept', 'Post', 'Rock', 'Probate',
       'Probate Deflated', 'Sale', 'Swedish', 'Shirting', 'Japanese',
       'Dried', 'Dressed', 'Leather', 'Factory', 'Window-Medium',
       'Window-Small', 'Fire', 'Paid', 'Recieved', 'Maple',
       'Personal property', 'Real estate', 'Freight-Ton', 'Passenger',
       'Calves', 'Unwashed', 'Washed', 'Gerste', 'Branauer',
       'Freistaedter', 'Iglauer', 'Regensburger', 'Schweinitzer',
       'Chancellery', 'Rough', 'Domestic', 'Foreign', 'Wild', 'Brugge',
       'Silesian', 'Parchment', 'Royal', 'Swidnica', 'Damask', 'Marc'],
      dtype=object)