# First Level Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_raw = pd.read_csv("data_raw/all_commodities.csv")

In [3]:
print(df_raw.shape)

(127255, 12)

In [4]:
df_raw.head(0)

Empty DataFrame
Columns: [Item Year, Original Value, Standard Value, Original Currency, Standard Currency, Orignal Measure, Standard Measure, Sources, Notes, Location, Commodity, Variety]
Index: []

In [5]:
df_raw["Commodity"].describe()

count     127255
unique       165
top        Wheat
freq       23129
Name: Commodity, dtype: object

In [6]:
df_raw["Standard Value"].describe()

count    127255.000000
mean         54.156522
std         954.797964
min           0.000116
25%           0.357736
50%           1.149183
75%           7.425000
max      107372.805540
Name: Standard Value, dtype: float64

In [7]:
df_raw["Commodity"].value_counts()

Wheat         23129
Rye            9239
Barley         8601
Wine           4678
Oats           4563
              ...
Oranges           7
Buchwheat         5
Speck             5
Fish              4
Underpants        4
Name: Commodity, Length: 165, dtype: int64

In [8]:
df_raw.iloc[df_raw["Standard Value"].idxmax()]

Item Year                                                         1567
Original Value                                                 1594.18
Standard Value                                                  107373
Original Currency                                          White Grosz
Standard Currency                                               Silver
Orignal Measure                                         Wroclaw Length
Standard Measure                                        Wroclaw Length
Sources              (M. Wolanski) (Ceny we Wroclawiu w Latach 1506...
Notes                (gpih.ucdavis.edu)-(D.S.Jacks_2002-P.H.Lindert...
Location                                                       Wroclaw
Commodity                                                        Cloth
Variety                                                            NaN
Name: 125024, dtype: object

In [9]:
df_raw.iloc[df_raw["Standard Value"].idxmin()]

Item Year                                                         1894
Original Value                                                     1.2
Standard Value                                             0.000115928
Original Currency                                 United States Dollar
Standard Currency                                               Silver
Orignal Measure                                             Kyoto Kuku
Standard Measure                                              Kilogram
Sources              (Government of Japan) (Financial and Economic ...
Notes                (gpih.ucdavis.edu)-(D.S.Jacks_2006-P.A.Lindert...
Location                                                         Tokyo
Commodity                                                         Salt
Variety                                                            NaN
Name: 108441, dtype: object

In [13]:
df_raw["Commodity"].sort_values().unique()

array(['Allspice', 'Apples', 'Ashes', 'Axe', 'Bacon', 'Bark', 'Barley',
       'Bean', 'Beans', 'Beef', 'Beer', 'Boards', 'Books', 'Boots',
       'Brandy', 'Bread', 'Brick', 'Bricks', 'Buchwheat', 'Butter',
       'Cabbage', 'Candle', 'Candles', 'Canvas', 'Caraway', 'Carp',
       'Charcoal', 'Cheese', 'Chicken', 'Chickpeas', 'Chicory',
       'Chocolate', 'Cider', 'Cinnamon', 'Cloth', 'Clothing', 'Cloves',
       'Coal', 'Coalgas', 'Cocao', 'Cod', 'Codfish', 'Coffee', 'Copper',
       'Cordage', 'Cotton', 'Cream', 'Currants', 'Eggs', 'Firewood',
       'Fish', 'Flax', 'Flour', 'Garbanzo', 'Gin', 'Ginger', 'Glass',
       'Glassware', 'Goat', 'Gold', 'Grain', 'Grains', 'Ham', 'Hay',
       'Herring', 'Honey', 'Hops', 'Horse shoes', 'Insurance', 'Iron',
       'Kerosene', 'Lamb', 'Lard', 'Lead', 'Lime', 'Linen', 'Maize',
       'Malmsey', 'Maple Syrup', 'Meal', 'Meat', 'Milk', 'Millet', 'Miso',
       'Molasses', 'Mortar', 'Mustard', 'Mutton', 'Nails', 'Nutmeg',
       'Oatmeal', 'Oats', 'Oil', 'Oilcake', 'Oranges', 'Ox', 'Paper',
       'Parchment', 'Peas', 'Peat', 'Pepper', 'Pewter', 'Pie Fruits',
       'Pike', 'Plum', 'Pork', 'Pork Mess', 'Potato', 'Poultry', 'Print',
       'Quicksilver', 'Raisins', 'Rent', 'Rice', 'Rum', 'Rye', 'Saffron',
       'Sake', 'Salmon', 'Salt', 'Sausage', 'Saw', 'Scythe', 'Sheeting',
       'Shoes', 'Shot', 'Shovel', 'Silk', 'Slave', 'Soap', 'Socks',
       'Sorghum', 'Soy', 'Soya Sauce', 'Soybean', 'Speck', 'Spelt',
       'Spirits', 'Stockfish', 'Stockings', 'Straw', 'Suet', 'Sugar',
       'Tallow', 'Tar', 'Tax', 'Tea', 'Tiles', 'Tobacco',
       'Transportation', 'Treacle', 'Trenchers', 'Turkey', 'Turnips',
       'Turpentine', 'Underpants', 'Veal', 'Vinegar', 'Wax', 'Wheat',
       'Whiskey', 'Wine', 'Wood', 'Wool', 'Yerba'], dtype=object)

In [14]:
df_raw["Location"].unique()

array(['Aix', 'Akyab', 'Allahabad', 'Amsterdam', 'Ancona', 'Andalusia',
       'Angers', 'Antwerp', 'Aragon', 'Arequipa', 'Arezzo', 'Arles',
       'Arnhem', 'Ath', 'Augsburg', 'Avignon', 'Backerganj', 'Balasore',
       'Bamo', 'Bankura', 'Barcelona', 'Bardwan', 'Bari', 'Basle',
       'Bassano', 'Bassein', 'Bavay', 'Beijing', 'Benares', 'Beziers',
       'Bilbao', 'Birbhum', 'Bogra', 'Bordeaux', 'Braganca', 'Bravant',
       'Brescia', 'Bruges', 'Brussels', 'Buenos Aires',
       'Buis Les Baronnies', 'Bulgaria', 'Burgos', 'Cachar', 'Calcutta',
       'Cantania', 'Cervera', 'Chateau Gonier', 'Chesapeake', 'Chester',
       'Chittagong', 'Clarmont-Ferrand', 'Cologne', 'Colombia',
       'Copenhagen', 'Coutances', 'Dacca', 'Danzig', 'Die', 'Douai',
       'Draguignan', 'Dresden', 'Edinburgh', 'Edo', 'England', 'Eton',
       'Exeter', 'Faridpur', 'Florence', 'France', 'Frankfurt', 'Gdansk',
       'Gerona', 'Ghent', 'Goalpara', 'Granada', 'Grenoble', 'Henzada',
       'Herentals', 'Hobart', 'Holstein', 'Hooghly', 'Istanbul',
       'Jessore', 'Kamrup', 'Konigsberg', 'Krakow', 'Kyaukpyu', 'Kyoto',
       'La Coruna', 'Lakhimpur', 'Le Quesnoy', 'Leiden', 'Leipzig',
       'Leon', 'Libau', 'Lier', 'Linkoping', 'Lisbon', 'Lleida',
       'Lolland', 'Lombardia', 'London', 'Lorca', 'Louvain', 'Lublin',
       'Lwow', 'Madrid', 'Maimensing', 'Malda', 'Malines', 'Manbhum',
       'Mandalay', 'Marseilles', 'Maryland', 'Massachusetts', 'Mauberge',
       'Medina', 'Metz', 'Mexico City', 'Midnapur', 'Milan', 'Milano',
       'Modena', 'Mons', 'Montelimar', 'Munich', 'Nancy', 'Nantes',
       'Naples', 'Navarre', 'New Castile', 'Old Castile', 'Osaka',
       'Oviedo', 'Pamplona', 'Paris', 'Pesaro', 'Pisa', 'Poland', 'Porto',
       'Rennes', 'Rostock', 'Rotterdam', 'San Francisco', 'Sansepolcro',
       'Santander', 'Santiago', 'Seeland', 'Segovia', 'Senigallia',
       'Shanghai', 'Siena', 'Sopron', 'South Carolina',
       'Southern England', 'Speyer', 'St Petersburg', 'St Polten',
       'Stiftklosterneuberg', 'Stockholm', 'Strasbourg', 'Sydney',
       'Thayetmyo', 'Tokyo', 'Tolosa', 'Toulouse', 'Toungoo', 'Tours',
       'Tudela', 'Tuscany', 'Udine', 'Utrecht', 'Valence', 'Valencia',
       'Valenciennes', 'Valladolid', 'Vermont', 'Vienna', 'Vienne',
       'Vitoria', 'Voiron', 'Wallachia', 'Warsaw', 'Wels',
       'West Virginia', 'Weyer', 'Winchester', 'Windsor', 'Wollongong',
       'Wroclaw', 'Wurzburg', 'Zaragoza'], dtype=object)

In [ ]:
df_raw["Original Currency"].unique()

In [ ]:
print(len(df_raw["Variety"]))
df_raw["Variety"].unique()